// Define variable defaults
$primary: orange !important;
$body-bg: #000;
$body-color: #111;

$theme-colors: (
  primary: $purple
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';